
@{

    Layout = null;
}


<link href="~/Scripts/login.css" rel="stylesheet" />

<html>

<head>

    <title>Ingresar</title>
</head>

<body>
    <div class="main">
        <p class="sign" align="center">Sign in</p>
        <form class="form1" action="/Login/Ingreso" method="post">
            <input class="un" type="text" name="Correo" placeholder="Ingrese Correo" style="color: black" />
            <input class="pass" type="password" name="Password" placeholder="Ingrese Contraseña" style="color: black" />

            <input class="submit" align="center" type="submit" value="Iniciar Sesion" />
        </form>


    </div>

</body>

</html>