
@{
    ViewBag.Title = "EditarU";
}

<h2>EditarU</h2>

<form action="/Usuario/Actualizar?Id=@Model.Id" method="post">
    <input type="text" name="Nombres" value="@Model.Nombres" />
    <input type="text" name="Apellidos" value="@Model.Apellidos" />
    <input type="text" name="Telefono" value="@Model.Telefono" />
    <input type="text" name="Correo" value="@Model.Correo" />

    <button>Guardar</button>


</form>



